<div class="container mx-auto">
  <div class="flex justify-center items-center relative">
    <form class="border p-10 sm:w-3/4 md:w-2/4 rounded-md absolute top-10">

      <div class="my-5">
        <label for="name" class="block py-1">Enter Your Name</label>
        <input type="text" class="block w-full rounded" placeholder="Enter Your Name">
      </div>

      <div class="my-5">
        <label for="email" class="block py-1">Enter Your Email</label>
        <input type="email" class="block w-full rounded" placeholder="Enter Your Email">
      </div>

      <div class="my-5">
        <label for="password" class="block py-1">Enter Your Password</label>
        <input type="password" class="block w-full rounded" placeholder="Enter Your Password">
      </div>

      <div class="my-5">
        <label for="confirm-password" class="block py-1">Confirm Password</label>
        <input type="password" class="block w-full rounded" placeholder="Confirm Password">
      </div>

      <div class="mt-7">
        <input type="submit" class="block bg-blue-500 text-white px-3 py-2 rounded cursor-pointer w-full">
      </div>
    </form>
  </div>
</div>
