<div class="container mx-auto my-5">
  <div class="service-container">
    <div class="grid md:grid-cols-4 sm:grid-cols-2 gap-4">
      <ng-container *ngFor="let service of servicesItems">
        <div class="border p-3">
          <p>{{ service.id }}</p>
          <h5>{{ service.title }}</h5>
        </div>
      </ng-container>
    </div>

    <div>
      <button (mouseover)="display()" (mouseout)="hide()">
        Show
      </button>
    </div>

    <div *ngIf="show">
      <app-extra> </app-extra>
    </div>
  </div>
</div>
